
*{
  box-sizing: border-box;
}

h1{
  display: block;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 10px;
  color: #333;
  padding-top: 120px;
}

header p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 27px;
  text-decoration: none;
  padding-top: 0px;
}

.movie{
  text-align: center;
  padding-top: 120px;
}

.top p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 120px;
}

.contents{
  flex-wrap: wrap;
  text-align: center;
  padding-top: 120px;
}

.fa{
  width: 19%;
  padding: 1px;
}

.contents p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 27px;
  text-decoration: none;
  padding-top: 120px;
}

.crap-image {
  width: 640px;
  padding-top: 120px;
}

 /*HOW TO*/
h2 {
  display: block;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 10px;
  color: #333;
  line-height:30px;
  text-decoration: none;
  padding-top: 100px;
}

 /*1 2 3*/
h3 {
  display: block;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 10px;
  color: #888;
  line-height:30px;
  text-decoration: none;
  padding-top: 30px;
}

.howto p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 0px;
}

footer {
  background-color: #666;
  height: 200px;
  margin-top: 160px;
}

footer h7{
  display: block;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

footer a{
  display: block;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  line-height: 24px;
  padding: 10px 0px 0px 0px;
}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  .movie{
    width: 95%;
  }
  .fa {
    width: 33%;
  }
  .crap-image {
      width: 95%;
  }
}
