*{
  box-sizing: border-box;
}

h1{
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 10px;
  color: #1C2E28;
  padding-top: 80px;
}

header p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 0px;
}

.movie{
  text-align: center;
  padding-top: 80px;
}

.top p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 80px;
}

h2 {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 10px;
  color: #888;
  line-height:30px;
  text-decoration: none;
  padding-top: 100px;
}

h3 {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 10px;
  color: #888;
  line-height:30px;
  text-decoration: none;
  padding-top: 30px;
}

.howto p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 0px;
}


.contents{
  flex-wrap: wrap;
  text-align: center;
  padding-top: 80px;
}

.fa{
  width: 19%;
  padding: 1px;
}

.contents-text p {
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  color: #888;
  line-height: 26px;
  text-decoration: none;
  padding-top: 80px;
}

.crap {
  flex-wrap: wrap;
  text-align: center;
}

.crap-image {
  width: 560px;
  padding-top: 80px;
}



h7{
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 5px;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #d3d3d3;
  height: 100px;
  margin-top: 120px;
}

footer a{
  display: block;
  text-align: center;
  font-family: font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 5px;
  letter-spacing: 3px;
  color: #fff;
  line-height: 24px;
  padding: 10px 0px 0px 0px;
}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  .fa {
    width: 32%;
    padding: 1px;
  }
  .crap-image {
      width: 95%;
  }


}
